@font-face {
    font-family: Daray; /* Имя шрифта */
    src: url(https://www.behance.net/m-raikov0e88); /* Путь к файлу со шрифтом */
}

* {
    font-family: 'Montserrat', sans-serif;
}

.btn-primary{
    color: #fff;
    background-color: #9370d8;
    border-color: #9370d8;
}

a{
    color: #9370d8;
}

.container {
    max-width: 1240px;
}

.student {
    padding: 5px; /* Поля вокруг текста */
    float: left; /* Обтекание по правому краю */
    width: 200px; /* Ширина слоя */
}

.delete-button {
    padding: 5px; /* Поля вокруг текста */
    width: 300px; /* Ширина слоя */
    float: left; /* Обтекание по правому краю */
}
.clear {
    clear: left; /* Отмена обтекания */
}

header .nav-item a::after{
    content: '';
    display: block;
    width: 100%;
    background-color: #ccc;
    height: 1px;
    transform: scale(0);
    transition: all .3s;
    text-align: center;
}

header .nav-item a:hover::after{
    transform: scale(1);
}

header {
    position: relative;
}

header .navbar-brand {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 30px;
}

.container .row .col-sm{
    text-align: left;
}

header .nav-item .dropdown{
    margin-left: 6px;
}

.lesson{
    background-color: #FFFFFF;
    border-radius: 35px;
    box-shadow:         1px 1px 20px 0px rgba(50, 50, 50, 0.62);
}

ol, ul {
    padding-left: 3rem;
}

.group{
    background-color: #FFFFFF;
    border-radius: 35px;
    box-shadow:         1px 1px 20px 0px rgba(50, 50, 50, 0.62);
}

.group .text-left{
    margin-left: 10px;
    text-align: left;
    padding: 10px 0 10px 3rem;
}

.GreyBox{
    background-color: #FFFFFF;
    border-radius: 35px;
    box-shadow:         1px 1px 20px 0px rgba(50, 50, 50, 0.62);
}

.GreyBox .text-left{
    margin-left: 20px;
    margin-right: 20px;
    font-size: 30px;
    text-align: left;
    padding: 1rem 2rem;
}

.GreyBox-2{
    background-color: #FFFFFF;
    border-radius: 35px;
    box-shadow:         1px 1px 20px 0px rgba(50, 50, 50, 0.62);
}

.GreyBox-2 .text-center{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px 0;
    font-size: 15px;
}

.GreyBox-3{
    background-color: #FFFFFF;
    border-radius: 35px;
    box-shadow:         1px 1px 20px 0px rgba(50, 50, 50, 0.62);
}

.GreyBox-3 .text-left {
    padding: 1rem 2rem;
    font-size: 20px;
    text-align: left;
}

footer {
    margin-top: -10px;
    /*Минус Высота футера*/
    height: 10px;
    /*Высота футера*/
}

.floating-button {
    text-decoration: none;
    display: inline-block;
    width: 300px;
    height: 45px;
    line-height: 45px;
    border-radius: 35px;
    margin: 10px;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    background: #e3e3e3;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
}
.floating-button:hover {
    background: #9370d8;
    box-shadow: 0 15px 20px #9370d8;
    color: white;
    transform: translateY(-7px);
}

